@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}

/***************************************** NAVBAR ******************************************/

header nav{
    background-image:url(./image1.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 100VH;
    letter-spacing: 2px;
}
header .noimg{
    height: 10VH;
    background-image: none;

}

nav div a{
    text-decoration: none;
    color: black; 
    margin:15px 15px;
}

nav .navtext p{
font-size: 15px;
font-weight: bold;
}

nav .navicon{
    font-size: 15px;  
}


/***************************************** END NAVBAR ******************************************/



/***************************************** MAIN **********************************************/

main{
    height: 100vh;
}

main img{
    margin: 50px;
    width: 350px;
    border: black 0.5px solid;
    border-right: none;
}

main .mainimgtext{
    display: flex;
    justify-content: center;
    align-items: center;
}

main .maintext h1{
    font-size: 80px;
    text-transform: capitalize;
    font-weight: 100;
    margin-left: -80px;
    
}

main .maintext h3{
    font-size: 40px;
    text-transform: capitalize;
    font-weight: bold;   
}

main .maintext p{
    font-size: 20px;
    text-transform: capitalize;
    font-weight:lighter;
    text-align: justify;
   
}




/***************************************** END MAIN ******************************************/



/***************************************** SECTION ******************************************/

/* SECTION 2 */

/* LISTE ORDONNÉE */

.sectionList{
    height: 100vh;
    margin: 20px;
    border: 0.5px solid #7d8845 ;
}

.sectionList h2{
   text-align: center;
   font-size: 80px;
   margin-bottom: 40px;
   text-decoration-line: underline;
   text-decoration-thickness: 2px;
   text-underline-offset: 4px;
}

.sectionList li{
   text-align: center;
   font-size: 40px;
   line-height:100px;
   list-style-type: none;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-self: center;
   display: block;
   text-transform: uppercase;
   letter-spacing: 1px;

}

.sectionList ol li span{
    font-weight: bold;
    width: 150px;
    border-radius: 100px;
    opacity: 0.5;
    line-height: 40px;
    margin-left: 60px;
}


.sectionList  ol li .span1{
    color: #7d8845;
 }
   

.sectionList ol li .span2{
    color:#85887f;
}

.sectionList  ol li .span3{
    color: #6d6160;
}







/***************************************** END SECTION ******************************************/


/***************************************** FORM ******************************************/

/* form{
   height: 70vh;
   display: flex;
   justify-content: center;
   align-items: center;
   line-height: 20px;
   text-transform: uppercase;
   letter-spacing: 2px;
}

form .divform h2{
   font-size: 30px;
   text-transform: uppercase;
   letter-spacing: 7px; 
   padding: 30px;
   text-decoration-line: underline;
}

form label,input{
 width: 150px;
 height:35px ;
 border-radius: 10px;
}

form .formBtn{
   align-self: center;
   color: red;
} */


form{
    height: 100vh;  
}

form h2{
    font-size: 50px;
    letter-spacing: 5px;
    text-align: center; 
    margin: 50px;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    
  
}

form .divform{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    font-size:20px ;   
    letter-spacing: 5px;
    text-transform: uppercase;
}

form .divform input{
    height:30px ;
    width:200px ;
    border-radius: 10px;
}

form button{
    height:40px ;
    width: 150px;
    border: solid 4px;
    border-radius: 10px;
    align-items: center;  
    background-color: #6d6160;
    border: 0.5px black solid;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 2px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
}



/*****************************************END FORM ******************************************/

/*****************************************IFRAME ******************************************/

.divideo{
    height: 100vh;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divideo h2{
    font-size: 35px;
    margin-bottom: 55px;
    letter-spacing: 2px;
    text-transform: uppercase;

}

.divideo p{
    font-size: 20px;
    margin: 15px;
}

.divphoto{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
}

.divphoto img{
width: 350px;
height: 450px;
}

                                            /* INDEX 4 */

/*********************************** FORMULAIRE DE CONTACT **************************************/
.classtable{
    display: flex;
    justify-content:center ;
    align-items:center ;
    height: 100vh;
}


table{
    table-layout: fixed;
    width: 80%;
    border-collapse: collapse;
    border: 3px solid black;
    margin: 30px;
}

.tablecontact caption{
    font-size: 35px;
    margin-bottom: 55px;
    letter-spacing: 2px;
    text-transform: uppercase;
   align-items: center;
}



.tablecontact thead,tr,th{
    height: 80px;
    border: solid black 0.5px;
    font-size: 20px;
    letter-spacing: 1px;
    
}

/* PERMET DE CACHER UN ELEMENT EN CSS */

.tableinvisible{
 visibility: hidden;   
}


/* SECOND FORMULAIRE INSTAGRAM  */


.gradientinsta{
    background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    width: 100vw;
    height: 100vh;
}


.divinsta{
    color: white;
}

.divinsta button{
    background: white;
    height: auto;
    
}

.divinsta textarea{
height: 60px;
width: 350px;
border-radius: 20px;
text-align: center;
}


.divinsta{
    width: 50vh;  
}

.textinsta{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 200px;   
}











/***************************************** FOOTER ******************************************/

footer{
    height: 150px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    font-size: 15px;
}

footer a{
    padding:15px ;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

 .nobkgd{
    background-color:white;

}

.nobkgd p{
    color: black;
}


/***************************************** END FOOTER ******************************************/